<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="/js/sse-handler.js"></script>
    <style>
        .form-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .desperdicio-value {
            font-weight: bold;
            color: #d00;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Hola <%= nombre %></h1>
        <p>Llevas <span id="desperdicio-value" class="desperdicio-value"><%= desperdicio %></span>% de agua del mundo gastada</p>
        <form action="/loading" method="GET">
            <input 
                type="text" 
                name="userInput" 
                placeholder="Escribe tu mensaje aquí"
            >
            <button type="submit" <%= form_enabled ? '' : 'disabled' %>>Enviar</button>
        </form>
    </div>
    <div class="form-container">
        <input disabled type="range" 
                   min="0" 
                   max="100" 
                   value="0" 
                   class="slider" 
                   id="sliderVisualizador">
        </div>
    </div>
</body>
</html>